
body {
        display: grid;
        grid-template-columns: 3rem 1fr 3rem;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        background-color: rgb(239, 230, 232);
}

nav {
        background-color: rgb(165, 184, 242);
        grid-column: 3;
        grid-row: 1 / span 2;
        display: flex;
        width: 3rem;
        height: 100vh;
}

ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
}

.listyle {
        margin-bottom: 10px;
        writing-mode: horizontal-tb;
        /* transform: rotate(180deg); */
        border: 1px solid black;
        width: 2.5rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
}

aside {
        background-color: green;
        grid-column: 1;
        grid-row: 1 / span 2;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        writing-mode: vertical-rl;
}

main {
        background-color: pink;
        grid-column: 2;
        grid-row: 1 / span 2;
        display: flex;
        justify-content: center;
}

footer {
        background-color: rgb(255, 138, 138);
        grid-column: 1 / span 3;
        grid-row: 3;
        height: 3rem;
}
    
      
    @media (min-width: 500px) {

        
        
    }